input {
    width: 150px;
    height: 30px;
}

.div_header {
    background-color: #2459a2;
}

.banner {
    margin: 0 auto;
    text-align: center;
    width: 1024px;
    height: 40px;
}

.banner_left {
    width: 694px;
    float: left;
    color: white;
}

.menu_index {
    width: 150px;
    float: left;
    display: inline-block;
    margin-top: 8px;
}

.menu_all {
    background-color: #2459a2; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: left;
}

.menu_all:hover {
    background-color: cornflowerblue; /* Green */
    color: white;
}

.menu_alt {
    background-color: #2459a2; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: left;
}

.menu_alt:hover {
    background-color: cornflowerblue; /* Green */
    color: white;
}

.banner_right {
    width: 328px;
    /*background-color: #9db36a;*/
    float: left;
}

.login {
    background-color: #2459a2; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: right;
}

.login:hover {
    background-color: cornflowerblue; /* Green */
    color: white;
}

.search {
    width: 150px;
    float: right;
    margin-top: 5px;
    border-color: #5e87b0;
}

input {
    display: inline-block;
}

.div_content {
    margin: 0 auto;
    height: 768px;
    width: 1024px;
    /*margin-right: 15px;*/
    /*background-color: #9785c6;*/
}

.content_left {
    /*height: 768px;*/
    width: 694px;
    margin-right: 15px;
    /*background-color: #5ea5bd;*/
    float: left;
}

.option {
    align-content: center;
    height: 50px;
    border-bottom: 1px solid #6f6f6f;

}

.left_option {
    width: 250px;
    /*margin-right: 45px;*/
    margin-top: 10px;
    float: left;
}

.option_hot {
    border: 1px solid #5e87b0;
    color: black;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    font-weight: 900;
}

.option_found {
    width: 50px;
    color: darkblue;
    font-size: 12px;
    padding: 20px 0;
    margin: 5px;
    font-weight: 900;
}

.option_release {
    width: 50px;
    color: darkblue;
    font-size: 12px;
    padding: 20px 0;
    margin: 5px;
    font-weight: 900;
}

.right_option {
    width: 300px;
    float: right;
    margin-right: 30px;
    /*margin-top: 10px;*/
}

.option_now {
    width: 60px;
    color: #919191;
    font-size: 12px;
    padding: 20px 0;
    margin: 5px;
}

.option_24h {
    width: 50px;
    color: green;
    font-size: 12px;
    padding: 20px 0;
    margin: 5px;
}

.option_3day {
    width: 40px;
    color: green;
    font-size: 12px;
    padding: 20px 0;
    margin: 5px;
}

.option_botton {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 6px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    /*float: right;*/
}

.left_content_area {
    border-bottom: 1px solid #6f6f6f;
    width: 694px;
    height: 120px;
}

.left_content_text {
    margin: 10px;
    width: 550px;
    /*margin-right: px;*/
    /*border: 1px solid red;*/
    font-size: 12px;
    font-weight: 900;
    color: darkslateblue;
    float: left;
}

.left_content_img {
    width: 60px;
    height: 60px;
    margin: 20px;
    /*border: 1px solid red;*/
    float: right;
}

.share1{
    display: inline-block;
    /*float: left;*/
    font-weight: 100;
    text-decoration: none;
    font-size: 12px;
}
.share2{
    display: inline-block;
    float: left;
    font-weight: 100;
    text-decoration: none;
    font-size: 12px;
}
.share3{
    display: inline-block;
    float: left;
    font-weight: 100;
    text-decoration: none;
    font-size: 12px;
}
.page_num {
    background-color: white; /* Green */
    border: 1px solid #6f6f6f;
    color: blue;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 12px 5px 0 12px;
    border-radius: 8px;
    float: left;

}
.page_num1 {
    font-weight: 900;
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 12px 5px 0 12px;
    border-radius: 8px;
    float: left;

}
.page_num:hover {
    background-color: cornflowerblue; /* Green */
    color: white;
}

.content_right {
    margin-left: 15px;
    height: 768px;
    width: 300px;
    /*background-color: #507aa4;*/
    float: left;
}
.pinglun{
    margin: 10px;
    height: 50px;
    width: 290px;
    /*border-top: 1px solid #6f6f6f;*/
    border-bottom: 1px dashed #6f6f6f;
    text-align: left;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    color: #6f6f6f;
}
.div_bottom {
    margin: 0 auto;
    height: 50px;
    width: 1024px;
    background-color: #5e87b0;
    text-align: center;
}