<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<button onclick="func1()">ajax提交</button>

<script>
    function func1() {
        // step1
        var xmlhttp = createXMLHttpRequest();

        // step2
        {#xmlhttp.open("GET", "/ajax_receive", true);#}
        xmlhttp.open("POST", "/ajax_receive", true);

        //放在send之前，open之后
        xmlhttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");

        // step3
        //xmlhttp.send(null);
        xmlhttp.send("name=alex");

        // step4
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = xmlhttp.responseText;
                alert(data)
           }
            //alert(xmlhttp.status)
        };
    }

    function createXMLHttpRequest() {
        var xmlHttp;
        //适用于大多数浏览器，以及IE7和IE更高版本
        try {
            xmlHttp = new XMLHttpRequest();
        } catch (e) {
            //适用于IE6
            try {
                xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
            } catch (e) {
                //适用于IE5.5 以及更早版本
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                }
            }
        }
        return xmlHttp;
    }


</script>

</body>
</html>