<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button onclick="func1()">ajax提交</button>

<script>
    function createXMLHttpRequest() {
        var xmlHttp;
        try{
            xmlHttp = new XMLHttpRequest();
        } catch (e) {
            try {
                xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
            }catch (e) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }catch (e) {}
            }
        }
        return xmlHttp;
    }
    var xmlhttp=createXMLHttpRequest();

    xmlhttp.open("/ajax_receive","GET",true);
    xmlhttp.send(null);
    xmlhttp.onreadystatechange=function(){
        alert(xmlhttp.status)
    }
</script>

</body>
</html>