<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p>用户名<input type="text" name="username" onblur="func1(this)">
        <span id="error"></span>
    </p>
    <p>密码<input type="password" name="pwd"></p>
    <input type="submit" value="submit">
</form>

<script type="application/javascript">
    function func1(self) {


        var username = self.value;
        var xmlhttp = createXMLHttpRequest();
        xmlhttp.open("POST", "/ajax_register/", true);
        xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xmlhttp.send("username=" + username);

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var s=xmlhttp.responseText;
                if (s=="1"){
                    alert("OK");
                    document.getElementById("error").innerHTML="用户名已经存在!"
                }
            }
        }
    }

    function createXMLHttpRequest() {
        var xmlHttp;
        //适用于大多数浏览器，以及IE7和IE更高版本
        try {
            xmlHttp = new XMLHttpRequest();
        } catch (e) {
            //适用于IE6
            try {
                xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
            } catch (e) {
                //适用于IE5.5 以及更早版本
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                }
            }
        }
        return xmlHttp;
    }
</script>

</body>
</html>