.target_dis{
    color: black;
    background-color: #FF3838;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_high{
    color: black;
    background-color: #ff9999;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_ave{
    color: black;
    background-color: #FFB689;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_warning{
    color: black;
    background-color: #fff6A5;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_info{
    color: black;
    background-color: #D6F6FF;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_ok{
    color: black;
    background-color: forestgreen;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.target_time{
    color: black;
    background-color: #ffffff;
    font-family:inherit;
    font-size: 17px;
    height: 30px;
    margin-top: 2px;
    padding: 12px 6px;
}
.title_list{
    font-weight: 900;
    background-color: lightgray;
    font-family:inherit;
    font-size: 32px;
    margin-bottom: 2px;
    padding: 12px 6px;

}
.title_graph{
    font-weight: 900;
    background-color: lightgray;
    font-family:inherit;
    font-size: 32px;
    margin-bottom: 2px;
    padding: 12px 6px;

}
.left-div{
    float: left;
    width: 49%;
}
.right-div{
    float: right;
    width: 49%;
}