<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zabbix Moniter</title>
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="left-div">
        <div class="title_list">ZABBIX故障列表</div>
        <div style="width: 15%;float: left">
            {% for Hostinfo in Host %}
                <div class="target_info">{{ Hostinfo }}</div>
            {% endfor %}
        </div>
        <div style="width: 65%;float: left">
            {% for i in target %}
            {% if "信息" in i %}
                <div class="target_info">{{ i }}</div>
            {% elif "警告" in i%}
                <div class="target_warning">{{ i }}</div>
            {% elif "故障" in i %}
                <div class="target_ave">{{ i }}</div>
            {% elif "严重" in i %}
                <div class="target_high">{{ i }}</div>
            {% elif "灾难" in i %}
                <div class="target_dis">{{ i }}</div>
            {% else %}
                <div class="target_ok">{{ i }}</div>
            {% endif %}
            {% endfor %}
        </div>
        <div style="width: 20%;float: left">
            {% for timeinfo in Time %}
                <div class="target_info">{{ timeinfo }}</div>
            {% endfor %}
        </div>
    </div>
<div class="right-div">
    <div class="title_graph">
        <div style="width: 300px; float: left">
            流量图
        </div>
        <div>
            <select>
                <option>请选择</option>
                <option>星际归来</option>
                <option>张飞棋牌</option>
                <option>西游-长春</option>
                <option>西游-延吉</option>
                <option>西游斗地主</option>
            </select>
        </div>
    </div>
</div>

</body>
</html>