<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello csking</h1>

{#<form action="http://127.0.0.1:800/csking" method="post" enctype="multipart/form-data">#}
<form action="http://192.168.0.103:800/csking" method="post" enctype="multipart/form-data">
    <p>用户名：<input type="text" name="username"></p>
    <p>密码：<input type="password" name="passwd"></p>

    <p>性别：男<input type="radio" name="sex" value="0">
            女<input type="radio" name="sex" value="1"></p>

    <p>爱好：篮球<input type="checkbox" name="hoppy" value=basketball>
            足球<input type="checkbox" name="hoppy" value="football"></p>
    <p><input type="file" name="alice"></p>


    出生地：<select name="city" multiple size="5">
        <optgroup label="河北省">
            <option value="lf">廊坊1</option>
            <option value="lf">廊坊2</option>
            <option value="lf">廊坊3</option>
            <option value="lf">廊坊4</option>
            <option value="lf">廊坊5</option>
        </optgroup>
        <optgroup label="北京市">
            <option value="bj">朝阳</option>
            <option value="bj">海淀</option>
        </optgroup>
    </select>
    <br/>
    <textarea role="3" rows="5" name="jieshao">自我简介</textarea>
    <label for="www">姓名</label>
    <input type="checkbox" id="www">
    <p> <input type="submit" value="发送"></p>


</form>
</body>
</html>